body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

footer, header {
    width: 100%;
    border: 1px solid #CCCCCC;
    position: fixed;
}

footer {
    bottom: 0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #000;
    color: white;
}
